<h3 class="text-center">Todays Classes</h3>
<div class="table-responsive">
   <table class="table table-striped table-bordered">
      <thead>
         <tr>
            <th scope="col">Class</th>
            <th scope="col">Time</th>
            <th scope="col">Time</th>
         </tr>
      </thead>
      <tbody>
         <% classes.each do |c| %>
            <tr>
               <td scope="row"><%= c.gym_class.name %></td>
               <td><%= c.time_only %></td>
               <td><%= link_to "Add Member", new_gym_class_scheduled_class_path(c.gym_class_id, time: c.time), class:"btn btn-primary btn-sm" %></td>
            </tr>
         <% end %>
      </tbody>
   </table>
</div>