<h3 class="text-center">Todays Classes</h3>

<table class="table table-striped">
   <thead>
      <tr>
         <th scope="col">Class</th>
         <th scope="col">Time</th>
      </tr>
   </thead>
   <tbody>
      <% @classes.each do |c| %>
         <tr>
            <td scope="row"><%= c.gym_class.name %></td>
            <td><%= c.time_only %></td>
         </tr>
      <% end %>
   </tbody>
</table>