<% if current_gym.gym_classes.blank?%>
   <div class="alert alert-info text-center">
      Your gym does not have any classes yet. <%= link_to "Create Class", new_gym_class_path, class: "btn btn-sm btn-dark ml-2"%>
   </div>
<% else %>
<%= render partial: 'classes', locals: {classes: @classes} %>
<% end %>
