<% if @classes.blank?%>
   <div class="alert alert-info text-center p-4">
      Your gym does not have any classes yet. <br>
      <%= link_to "Create Class", new_gym_class_path, class: "btn btn-sm btn-dark mt-2"%>
   </div>
<% else %>
   <%= render partial: 'classes', locals: {classes: @classes} %>
<% end %>
