<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
      <%= link_to "GymHero", root_path , class: "navbar-brand"%>
         <div class="navbar-nav">
               <%= link_to "Sign Up", root_path , class: "nav-item nav-link"%>
               <%= link_to "Log In", root_path , class: "nav-item nav-link"%>
         </div>
   </div>
</nav>