<% if @members.blank?%>
   <div class="alert alert-info text-center p-4">
      Your gym does not have any members yet. <br>
      <%= link_to "Add Member", new_member_path, class: "btn btn-sm btn-dark mt-2"%>
   </div>
<% else %>
   <%= render partial: 'members', locals: {members: @members} %>
<% end %>
